.header-section {
    border-bottom: 1px solid #E7E9FC;
}

.header {
    background-color: #FFFFFF;
    display: flex;
    justify-content: flex-start;
    height: 72px;
    align-items: center;
    flex-wrap: wrap;
}

.header-logo {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    padding: 24px 76px 24px 0;
    font-family: "Raleway", sans-serif;
    line-height: 1.33;
    letter-spacing: 0.03em;
}

.header-span-logo {
    color: #4D5AE5;
}

.header-nav {
    margin-right: 340px;
}

.header-nav  .list {
    display: flex;
    gap: 40px;
}

.header-nav  .link {
    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;
    align-items: center;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.header-address  .list {
    display: flex;
    gap: 40px;
    color: #434455;
}

.header-address  .link {
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}